div {
  &:hover {
    color: red;
  }
  :hover {
    color: red;
  }
}
p {
  color: red;

  span & {
    color: blue;
  }
}

div {
  &::before {
    color: red;
  }
}

p {
  color: red;

  span && {
    color: blue;
  }
}
